h2 {
    color: rgb(52, 52, 52);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    padding: 10px;
    text-decoration: underline;
}

p {
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 10px;
}

li {
    text-align: center; 
   font-size: large;
   font-family: 'Courier New', Courier, monospace;
}

ul {
list-style-type: none;
padding-bottom: 5px;
text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}