
form {
    background-color: lightgray;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    border-radius: 5px;
    margin: 20px auto;
    padding: 35px;
    width: 90%;
}

input {
border: 1px solid lightgray;
border-radius: 4px;
display: inline-block;
margin: 8px 0;
padding: 12px 20px;
width: 100%;
}

textarea {
border: 1px solid lightgray;
border-radius: 4px;
height: 150px;
width: 100%; 
}

button {
    background-color: darkgray;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    margin: 8px 0;
    padding: 14px 20px;
    width: 100%;
}

button:focus,
button:hover {
    filter: brightness(125%);
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}